#parant-container{
    display: flex;
    justify-content: space-between;
    
}

.high-heading{
text-align: center;
margin-top: 40px;
width: 40vw; 
margin-bottom: 20px;
font-weight: bold;
font-size: 30px;
}

.high-container{
    
    width: 40vw;
    height: 50px;
    border: 0.1px gray solid;
    box-shadow: 2px 3px 3px gray;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 10px ;
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
}

.high-container:hover{
    height: 60px ;
    width: 550px;
    border: 0.2px gray solid;
    box-shadow: 2px 3px 3px gray;
    background-color: rgba(128, 128, 128, 0.1);
    font-size: 18px;
    
}

.video-box{
    width: 40vw;
    height: 330px;
    box-shadow: 2px 3px 3px gray;
    margin-right: 80px;
    
}